@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;500;600;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Workbench&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-pattern bg-stone-100 bg-repeat;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 2px solid red;
}
